<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form class="form-con" method="post" action="/posts">
        <input type="text" placeholder="Enter username" name="username" class="user"><br> <br>
        <textarea placeholder="Write Your Post" name="content" class="content"></textarea><br>
        <button>Submit Post</button>
    </form>
</body>
</html>